.OtherSay {
    justify-content: flex-start;

    .avatar {
        margin: 0 15px;
    }

    .bubble {
        --bubble-background: rgb(238, 238, 238);
        color: rgb(238, 238, 238);
        background: var(--bubble-background);
        border: 2px solid white;
        &:before {
            bottom: 0px;
            left: -10px;
        }
    }

    .userName {
        text-align: start;
        margin-left: 15px;
    }
}