.OtherSay {
    justify-content: flex-start;

    .avatar {
        margin-right: 15px;
    }

    .bubble {
        --bubble-background: rgb(238, 238, 238);
        color: rgb(238, 238, 238);
        background: var(--bubble-background);
        border: 2px solid white;
        &:after {
            bottom: 0px;
            left: -10px;
        }
    }

    .userName {
        margin-left: 20px;
        text-align: start;
    }
}