.Home {
    display: flex;
    width: var(--HomeWidth);
    height: var(--HomeHeight);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.1);
    background-color: black;

    .rightChat {
        position: relative;
        display: flex;
        justify-content: center;
        width: calc(var(--HomeWidth) - var(--LeftSideWidth) - var(--OnlineWidth));
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .Home {
        position: relative;
        flex-direction: column;
        width: var(--Min-HomeWidth);
        height: var(--Min-HomeHeight);

        .rightChat {
            width: 100%;
        }
    }
}