.Dialogue {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 89%;
    width: 100%;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    background-color: #FFF;   
    overflow-y: scroll;
    scroll-behavior: smooth; // 平滑滚动

    &::-webkit-scrollbar {
        width: 15px;
        padding-top: 10px;
        border-radius: 0 20px 20px 0;
        background-color: #FFF;
    }

    &::-webkit-scrollbar-thumb {
        width: 15px;
        border-radius: 0 20px 20px 0;
        background-color: rgb(235, 239, 232);
    }
}