.Dialogue {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 89%;
    width: 100%;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    background-color: black;   
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth; // 平滑滚动

    &::-webkit-scrollbar {
        width: 15px;
        padding-top: 10px;
        border-radius: 0 20px 20px 0;
        background: rgba(0,0,0,.1);
    }

    &::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 0 20px 0 0;
        background: rgba(255,255,255,.4);

    }
}