.OnlineUsers {
    width: var(--OnlineWidth);
    height: 100%;
    background-color: gray;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-size: 15px;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        font-weight: 600;
    }

    .onlineUser {
        --user-color: white; 
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;

        .avatar {
            --avatar-height: 40px;
            width: 40px;
            height: var(--avatar-height);
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 0 15px;
            font-size: 20px;
            text-align: center;
            line-height: var(--avatar-height);
            vertical-align: baseline;
            background-color: var(--user-color);
        }
    }
}

@keyframes OnineAppear {
    from {
        width: 44px;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .OnlineUsers {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        height: var(--Min-LeftSideHeight);
        border-radius: 0 0 20px 20px;
        box-sizing: border-box;
        overflow: hidden;
        animation: OnineAppear 1s;

        .top {
            width: 44px;
            height: var(--Min-LeftSideHeight);
            padding: 0;
            border: none;
            border-right: 1px solid #fff;
        }

        .onlineUser {
            width: auto;
            margin: 0;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                font-size: 15px;
            }
        }
    }
}