@font-face {
  font-family: "iconfont"; /* Project id 4194481 */
  src: url('iconfont.woff2?t=1690968513989') format('woff2'),
       url('iconfont.woff?t=1690968513989') format('woff'),
       url('iconfont.ttf?t=1690968513989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nvren:before {
  content: "\e600";
}

.icon-darennf:before {
  content: "\e601";
}

.icon-cnertong:before {
  content: "\e66c";
}

.icon-nan-copy:before {
  content: "\e607";
}

.icon-iconfontfuwurenyuan:before {
  content: "\e663";
}

.icon-woman:before {
  content: "\e955";
}

.icon-nvren1:before {
  content: "\e618";
}

.icon-ertong:before {
  content: "\e609";
}

.icon-ertong1:before {
  content: "\e61b";
}

.icon-nvren2:before {
  content: "\e650";
}

.icon-ertong2:before {
  content: "\e738";
}

.icon-touxiang:before {
  content: "\e671";
}

.icon-iconnvhai:before {
  content: "\e78c";
}

.icon-xingzhuang8:before {
  content: "\e692";
}

.icon-ertong3:before {
  content: "\e6c3";
}

.icon-ertong4:before {
  content: "\e63c";
}

.icon-nvren3:before {
  content: "\e723";
}

.icon-nvren01:before {
  content: "\e617";
}

.icon-touxiang1:before {
  content: "\e84d";
}

.icon-ertongpeixun:before {
  content: "\e760";
}

.icon-nvrentouxiang:before {
  content: "\e602";
}

.icon-zhuyuanhushizhan:before {
  content: "\e616";
}

.icon-xinggan:before {
  content: "\e60b";
}

.icon-hushi:before {
  content: "\e661";
}

.icon-tubiaozhizuomoban:before {
  content: "\e62b";
}

.icon-hushiwenzhen:before {
  content: "\e67e";
}

.icon-hushi_nurse:before {
  content: "\e749";
}

.icon-nvren_woman:before {
  content: "\e757";
}

.icon-nvren_woman1:before {
  content: "\e613";
}

.icon-icon-nvhai:before {
  content: "\e685";
}

.icon-lingdao:before {
  content: "\e614";
}

.icon-nanren:before {
  content: "\e642";
}

.icon-xuesheng:before {
  content: "\e603";
}

.icon-per_women:before {
  content: "\e636";
}

.icon-nvhaizi:before {
  content: "\e604";
}

.icon-xiaonvhai:before {
  content: "\e605";
}

.icon-nvshi:before {
  content: "\e67a";
}

.icon-nvren4:before {
  content: "\e639";
}

.icon-nanren1:before {
  content: "\e63a";
}

.icon-nvren5:before {
  content: "\e606";
}

.icon-hushitianshi:before {
  content: "\e62f";
}

.icon-ertong5:before {
  content: "\e60a";
}

.icon-nvrenshixing:before {
  content: "\e839";
}

.icon--ertong:before {
  content: "\e7a2";
}

.icon-xuesheng1:before {
  content: "\e63d";
}

.icon-police:before {
  content: "\e698";
}

.icon-nvhaizhi:before {
  content: "\e62c";
}

.icon-ertongerbihou-houyan:before {
  content: "\e643";
}

.icon-nvren-copy:before {
  content: "\e608";
}

.icon-hunli-:before {
  content: "\e7fc";
}

.icon-nvren6:before {
  content: "\e60c";
}

.icon-nanren2:before {
  content: "\e67f";
}

.icon-nvrenx:before {
  content: "\e632";
}

.icon-Police:before {
  content: "\e702";
}

.icon-touxiang2:before {
  content: "\e6c7";
}

.icon-xuesheng2:before {
  content: "\e60d";
}

.icon-police1:before {
  content: "\e662";
}

.icon-xuesheng3:before {
  content: "\e60e";
}

.icon-touxiang3:before {
  content: "\e62d";
}

.icon-xuesheng4:before {
  content: "\e64f";
}

.icon-nvxing:before {
  content: "\e60f";
}

.icon-xuesheng5:before {
  content: "\e61e";
}

.icon-xuesheng6:before {
  content: "\e610";
}

.icon-ertong6:before {
  content: "\e611";
}

.icon-touxiang4:before {
  content: "\e619";
}

.icon-ertong7:before {
  content: "\e888";
}

.icon-nvhaizihuise:before {
  content: "\e612";
}

.icon-bz-police--o:before {
  content: "\e680";
}

.icon-nvshi1:before {
  content: "\e615";
}

.icon-ertong-:before {
  content: "\e72b";
}

.icon-ertongchike:before {
  content: "\e61a";
}

.icon-ertong8:before {
  content: "\e61c";
}

.icon-xuesheng7:before {
  content: "\e61d";
}

.icon-keshihushi:before {
  content: "\e66d";
}

.icon-199-police:before {
  content: "\eaa4";
}

.icon-hushi1:before {
  content: "\e701";
}

.icon-hushi2:before {
  content: "\e69b";
}

.icon-nvhaisheng:before {
  content: "\e61f";
}

.icon-zhuyuanhushi:before {
  content: "\e620";
}

.icon-maozinvren:before {
  content: "\e621";
}

.icon-children:before {
  content: "\e8e3";
}

.icon-stranger-full:before {
  content: "\e8f3";
}

.icon-dad:before {
  content: "\e8f7";
}

.icon-nvhushi1:before {
  content: "\e6b2";
}

.icon-female-avatar:before {
  content: "\e622";
}

.icon-niboernvren:before {
  content: "\e623";
}

.icon-ertong9:before {
  content: "\e80f";
}

.icon-policeman:before {
  content: "\e7c0";
}

.icon-zhinengjiajuAPP--nvhaifang:before {
  content: "\e75b";
}

.icon-hushi3:before {
  content: "\e637";
}

.icon-hushinvyisheng:before {
  content: "\e8d4";
}

.icon-Lift-someone:before {
  content: "\e81d";
}

.icon-hushi21:before {
  content: "\e6ae";
}

.icon-ertong-01:before {
  content: "\e624";
}

.icon-ren:before {
  content: "\e625";
}

.icon-nvhai:before {
  content: "\100e3";
}

.icon-nvshi11:before {
  content: "\e626";
}

.icon-a-icon-person-nv2:before {
  content: "\e627";
}

.icon-nvren011:before {
  content: "\e628";
}

.icon-police2:before {
  content: "\e629";
}

.icon-hushi4:before {
  content: "\e78e";
}

.icon-touxiang5:before {
  content: "\e62a";
}

.icon-touxiang-nvren:before {
  content: "\e6fa";
}

