.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  // background-color: rgb(222, 237, 214);
  background: rgb(57, 63, 69);
}