.LeftSidebar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--LeftSideWidth);
    height: 100%;
    background: gray;
    border-radius: 20px 0 0 20px;
    box-sizing: 3;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid rgb(203, 203, 203);
        font-size: 40px;
        color: rgb(203, 203, 203);
        overflow: hidden;
        cursor: pointer;
    }
}

@media screen and (max-width: 400px) {
    .LeftSidebar {
        width: 100%;
        height: var(--Min-LeftSideHeight);
        border-radius: 0;
        .avatar {
            width: 40px;
            height: 40px;
        }
    }
  }